@model BibliotecaCUNOR.Models.Prestamo


<div class="modal fade" id="addEditor">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addEditorLabel">Detalles del Prestamo</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>x</span>
                </button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label asp-for="CodPrestamo">@Model.CodPrestamo</label>
                    </div>

                    <div class="form-group">
                        <label asp-for="FechaDevolucion">@Model.FechaDevolucion</label>
                    </div>

                    <div class="form-group">
                        <label asp-for="FechaRecepcion">@Model.FechaRecepcion</label>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
