
@model BibliotecaCUNOR.Models.Usuario
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Personal administrativo</title>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js" type="text/javascript"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" type="text/javascript"></script>
</head>
<body>
        <div class="container">
            <div class="page-header">
                <h1 class="all-tittles">Sistema bibliotecario <small>Administración Usuarios</small></h1>
            </div>
        </div>
        <div class="container-fluid">
            <ul class="nav nav-tabs nav-justified" style="font-size: 17px;">
                <li role="presentation"><a href="~/Usuarios/Administrador">Administradores</a></li>
                <li role="presentation"><a href="~/Usuarios/UsuariosBiblioteca">Usuarios de la Biblioteca</a></li>
                <li role="presentation" class="active"><a href="~/Usuarios/personal">Personal Administrativo</a></li>
            </ul>
        </div>
        <div class="container-fluid" style="margin: 50px 0;">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <img src="~/assets/img/user05.png" alt="user" class="img-responsive center-box" style="max-width: 110px;">
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 text-justify lead">
                    Bienvenido a la sección para registrar nuevo personal administrativo. Para registrar el personal administrativo debes de llenar todos los campos del siguiente formulario.<br />
                    <strong class="text-danger"><i class="zmdi zmdi-comment-alert"></i> &nbsp; ¡Importante! </strong>Si el usuario ya ya esta registrado en el sistema, puedes ir al apartado de 
                    <a href="~/Usuarios/UsuariosBiblioteca">Usuarios del Sistema</a> a cambiar el <strong>rol</strong> a <strong>Administrador</strong>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 lead">
                    <ol class="breadcrumb">
                        <li class="active">Nuevo personal ad.</li>
                        <li><a href="Listpersonal">Listado de personal ad.</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="container-flat-form">
                <div class="title-flat-form title-flat-blue">Registrar nuevo personal administrativo</div>
                <form asp-action="Create" class="form-padding">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-xs-12">
                            <legend><i class="zmdi zmdi-account-box"></i> &nbsp; Datos básicos</legend><br>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="group-material">
                                <input asp-for="Nombre" type="text" class="material-control tooltips-general" placeholder="Escribe aquí los nombres del personal administrativo" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,50}" required="" maxlength="50" data-toggle="tooltip" data-placement="top" title="Escribe los nombres del personal administrativo, solamente letras">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Nombres</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="group-material">
                                <input asp-for="Apellido" type="text" class="material-control tooltips-general" placeholder="Escribe aquí los apellidos del personal administrativo" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,50}" required="" maxlength="50" data-toggle="tooltip" data-placement="top" title="Escribe los apellidos del personal administrativo, solamente letras">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Apellidos</label>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="group-material">
                                <input asp-for="CorreoElectronico" type="email" class="material-control tooltips-general" placeholder="Correo Electronico" required="" maxlength="50" data-toggle="tooltip" data-placement="top" title="Escribe el Correo Electronico Administrador">
                                <span class="highlight"></span>
                                <span class="bar text-danger" asp-validation-for="CorreoElectronico"></span>
                                <label>Correo Electronico</label>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="group-material">
                                <input asp-for="Telefono" type="text" class="material-control tooltips-general" placeholder="Escribe aquí el número de teléfono del personal administrativo" pattern="[0-9]{8,8}" required="" maxlength="8" data-toggle="tooltip" data-placement="top" title="Solamente 8 números">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Teléfono</label>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <legend><i class="zmdi zmdi-lock"></i> &nbsp; Datos de la cuenta</legend><br>
                        </div>
                        <div class="col-xs-12">
                            <div class="group-material">
                                <input asp-for="Usuario1" type="text" class="material-control tooltips-general" placeholder="Escribe aquí el número de registro del personal administrativo" pattern="[0-9]{9,9}" required="" maxlength="9" data-toggle="tooltip" data-placement="top" title="Solamente números">
                                <span class="highlight"></span>
                                <span class="bar text-danger" asp-validation-for="Usuario1"></span>
                                <label>Número de Matriculacion</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="group-material">
                                <input asp-for="Contraseña" type="password" class="material-control tooltips-general" placeholder="Contraseña" required="" maxlength="200" data-toggle="tooltip" data-placement="top" title="Escribe una contraseña">
                                <span class="highlight"></span>
                                <span class="bar text-danger" asp-validation-for="Contraseña"></span>
                                <label>Contraseña</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="group-material">
                                <input asp-for="Contraseña2" type="password" class="material-control tooltips-general" placeholder="Repite la contraseña" required="" maxlength="200" data-toggle="tooltip" data-placement="top" title="Repite la contraseña">
                                <span class="highlight"></span>
                                <span class="bar text-danger" asp-validation-for="Contraseña2"></span>
                                <label>Repetir contraseña</label>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="group-material">
                                <span>Rol Usuario</span>
                                <select asp-for=" CodRolusuario" class="material-control tooltips-general" data-toggle="tooltip" data-placement="top" title="Elige un Rol al Usuario" asp-items="ViewBag.CodRolusuario">
                                    <option value="" disabled="" selected="">Selecciona una opción</option>
                                </select>
                                <span asp-validation-for="CodRolusuario" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="group-material">
                                <span>Cargo del Personal Administrativo</span>
                                <select asp-for="CodCargo" class="material-control tooltips-general" data-toggle="tooltip" data-placement="top" title="Elige el cargo del Personal" asp-items="ViewBag.CodCargo">
                                    <option value="" disabled="" selected="">Selecciona una opción</option>
                                </select>
                                <span asp-validation-for="CodCargo" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <p class="text-center">
                                <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
                                <button type="submit" class="btn btn-primary"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</body>
</html>